body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside; 
} 

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.subgroupVis {
    width: 50%;
}

.launchVis {
    width: 50%;
}

.hidden {
    visibility: collapse;
}

.tooltip {
    position: absolute;
    background-color: rgb(236, 234, 234);
    border:  solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px;
    font-size: small;
  }

.Airframe {
    fill:rgb(43, 150, 244)
}

.Avionics {
    fill:rgb(111, 2, 144)
}

.Internal {
    fill:rgb(219, 26, 94)
}

.Propulsion {
    fill:rgb(6, 132, 88)
}

.Starship {
    fill:rgb(238, 157, 6)
}